# Copy to config/local.env and fill your keys
AMAP_KEY=
AMAP_SECURITY_JS_CODE=
REMOTION_AMAP_KEY=
REMOTION_AMAP_SECURITY_CODE=
AMAP_ROUTE_PORT=6137

# Hillshade (URL template must contain {z}, {x}, {y})
HILLSHADE_ENABLED=true
HILLSHADE_SOURCE_URL=https://server.arcgisonline.com/ArcGIS/rest/services/Elevation/World_Hillshade/MapServer/tile/{z}/{y}/{x}
HILLSHADE_CACHE_VERSION=v2
HILLSHADE_MIN_ZOOM=5
HILLSHADE_MAX_ZOOM=12

# Point info
POINT_INFO_WEATHER_PROVIDER=openmeteo
POINT_INFO_ELEVATION_PROVIDER=openmeteo
POINT_INFO_WEATHER_TTL_MINUTES=30
